.hero {
  display: flex;
  flex-direction: column;
  height: 576px;

  text-align: left;
  padding: 80px 416px;

  background-image: url("../../images/bg-hero.svg");
}

.hero__title {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 60px;
  color: var(--text-white);
  margin: 0 0 32px;
}

.hero__subtitle {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  color: var(--text-white);
  margin: 0 0 88px;
}
