.news-card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    width: 100%;
    list-style: none;
    background-color: var(--bg-light);
    padding: 0;
}

@media (max-width: 630px) {
    .news-card-list {
        grid-template-columns: 1fr;
    }
}
