/* .news-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, min(250px, 1fr));
  margin: 0 auto;
  max-width: 780px;
  padding: 0 20px;
  list-style: none;
  row-gap: 20px;
  column-gap: 20px;
} */

.news-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  max-width: 1232px;
  margin: 0 auto;
  padding: 64px 104px 80px;
  list-style: none;
  background-color: var(--bg-light);
}
