:root {
    /* Primary Colors */
    --primary-blue: #2f71e5;
    --primary-dark: #1a1b22;
    --primary-blue-active: #2a65cc;

    /* Text Colors */
    --text-primary: #1a1b22;
    --text-secondary: #b6bcbf;
    --text-white: #ffffff;
    --text-black: #000000;
    --text-gray: #6c707a;
    --text-dark: #1a1b22;
    --text-article-opacity: rgba(26, 27, 34, 0.5);

    /* Background Colors */
    --bg-white: #ffffff;
    --bg-light: #f5f6f7;
    --bg-gray: #c4c4c4;
    --bg-layout: rgba(0, 0, 0, 0.3);
    --bg-transparent: transparent;
    --bg-light-gray: #d1d2d6;

    /* Border & Divider Color */
    --border-gray: #d1d2d6;
    --border-white: #ffffff;
    --border-white-opacity: rgba(255, 255, 255, 0.2);
    --border-search-btn: #d1d2d6;
    --border-transparent: transparent;
    --border-light: #f5f6f7;
    box-shadow: 0px 5px 15px 0px rgba(14, 26, 57, 0.2);

    /* Other Colors */
    --icon-dark: #191717;
    --avatar-placeholder: #949494;
    --shadow-dark: #081d2d;
    --shadow-button: #0e1a39;
    --black: #000000;
    --custom-shadow: 0px 5px 15px 0px #0e1a3933;

    /* Button States */
    --btn-blue: #2f71e5;
    --btn-disabled: #e6e8eb;
    --btn-blue-active: #2a65cc;
    --btn-white-hover: #e8e8e8;
    --btn-blue-hover: #347eff;
}
